# Local environment variables
.env

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Streamlit local runtime settings
.streamlit/

# JetBrains / PyCharm IDE configurations
.idea/

# Files
how to launch lake_ai_agents env.txt

# File Types
*.docx
*.doc
